<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost/hospitaldb</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="hospital.models.ActiveIngredient"/>
        <mapping class="hospital.models.Address"/>
        <mapping class="hospital.models.Analysis"/>
        <mapping class="hospital.models.DiseaseType"/>
        <mapping class="hospital.models.Doctor"/>
        <mapping class="hospital.models.InitialInspection"/>
        <mapping class="hospital.models.Medicine"/>
        <mapping class="hospital.models.Patient" />
        <mapping class="hospital.models.ReleaseDosageForm"/>
        <mapping class="hospital.models.Speciality"/>
        <mapping class="hospital.models.Visit"/>
    </session-factory>
</hibernate-configuration>